.first{
    background-color: rgb(238, 236, 236);
    width: 280px;
    text-align: center;
}
.second{
    background-color: rgb(238, 236, 236);
    width: 280px;
    text-align: center;
}
.third{
    background-color: rgb(238, 236, 236);
    width: 280px;
    text-align: center;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 100vh;
}
body{
     font-family: 'Sono', sans-serif;
}
.button{
    width: 75px;
    background-color: #ff6600;
    border-radius: 5px;
    color: white;
    padding: 10px;
    border: none;
    margin-left: 90px;
}
@media(max-width : 650px){
    .main{
        flex-direction: column;
        height: 100%;
    }
}